build/*

*.so
*.o
*.dylib
# Ignore test outputs but keep source files
tests/Test*
!tests/Test*.cpp

# Ignore benchmark binaries but keep source files
benchmarks/Bench*
!benchmarks/Bench*.cpp

# Vim swap files
*.swp

test_package/*
